{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div style="background-color:rgba(51,51,102,1.0);padding:15px;margin:10px;float:left;height:auto;border-radius:15px;width:60%;font-size:20px;padding-bottom:0px;" >
<a style="color:#FFFFFF" href='{{=URL('worker_report')}}'>Reporting presence/absence</a><br><br>
</div>
<div style="background-color:rgba(51,51,102,1.0);padding:15px;margin:10px;float:left;height:auto;border-radius:15px;width:60%;font-size:20px;padding-bottom:0px;" >
<a style="color:#FFFFFF" href='{{=URL('request_urgent')}}'>Request for Urgent Garbage Collection</a><br><br>
</div>
<div style="background-color:rgba(51,51,102,1.0);padding:15px;margin:10px;float:left;height:auto;border-radius:15px;width:60%;font-size:20px;padding-bottom:0px;" >
<a style="color:#FFFFFF" href='{{=URL('request_reservior')}}'>Request for Garbage Reservior</a><br><br>
</div>


