<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Interlude
Version    : 1.0
Released   : 20080903
Description: A multi-column, fixed-width design for 800x600 resolutions.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Interlude/default.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{include 'web2py_ajax.html'}}
  <style>
ul.web2py-menu-vertical { width: 150px; position: relative; top:1em; left:1em;  z-index:30; border:0; margin:0; padding: 0; list-style: none; text-decoration: none;}
ul.web2py-menu-vertical li { margin:0; padding:0; border:0; width: 150px; background: black; text-align:left;}
ul.web2py-menu-vertical li a { margin:0; padding: 1px 3px 1px 3px; border:0; width: 144px; color: white; font-size:12px;}
div.flash { position: fixed; float: right; padding: 10px; top: 10px; right: 30px; opacity: 0.75; margin: 10px 10px 10px 10px; text-align: center; clear: both; color: #fff; font-size: 11pt; text-align: center; vertical-align: middle; cursor: pointer; background: black; border: 2px solid #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 2; }
div.error { background-color: red; color: white; padding: 3px; }
.auth_navbar { color: white; text-align:right; z-index:20; position: absolute; top: 20px; right:30px; border:0; padding:0; font-size:15px; }
  </style>
 </head>
 <body>
  <!-- start header -->

  {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}

  <!-- start header -->
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
   <!-- <p>
     <a href="http://www.freecsstemplates.org/">
      Design by Free CSS Templates
     </a>
    </p>-->
   </div>
<!--   <div id="menu">
    {{=MENU(response.menu,_class='web2py-menu')}}
    <script>
      jQuery(document).ready(function(){jQuery('ul.web2py-menu').superfish({delay:400});});
    </script>
   </div>-->
  </div>
  <hr />
  <!-- end header -->
  <!-- start page -->
  <div id="wrapper">
   <div id="page">
    <!-- start content -->
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
<p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
    </div>
    <!-- end content -->
    <!-- start sidebar -->
    <div id="sidebar">
     <ul>
    <!--  <li id="categories">
       <h2>
        Categories
       </h2>
       <ul>
        <li>
         <a href="#">
          Lorem Ipsum
         </a>
         (1)
        </li>
        <li>
         <a href="#">
          Uncategorized
         </a>
         (4)
        </li>
        <li>
         <a href="#">
          Nulla luctus eleifend
         </a>
         (1)
        </li>
        <li>
         <a href="#">
          Pellentesque tempus
         </a>
         (4)
        </li>
        <li>
         <a href="#">
          Donec dictum metus
         </a>
         (1)
        </li>
        <li>
         <a href="#">
          Etiam posuere augue
         </a>
         (4)
        </li>
       </ul>
      </li>-->
      <li id="calendar">
       <h2>
        Calendar
       </h2>
       <div id="calendar_wrap">
        <table id="wp-calendar" summary="Calendar">
         <caption>
          September 2014
         </caption>
         <thead>
          <tr>
           <th abbr="Monday" scope="col" title="Monday">
            M
           </th>
           <th abbr="Tuesday" scope="col" title="Tuesday">
            T
           </th>
           <th abbr="Wednesday" scope="col" title="Wednesday">
            W
           </th>
           <th abbr="Thursday" scope="col" title="Thursday">
            T
           </th>
           <th abbr="Friday" scope="col" title="Friday">
            F
           </th>
           <th abbr="Saturday" scope="col" title="Saturday">
            S
           </th>
           <th abbr="Sunday" scope="col" title="Sunday">
            S
           </th>
          </tr>
         </thead>
         <tfoot>
          <tr>
           <td abbr="July" colspan="3" id="prev">
            <a href="#">
             &laquo; Jul
            </a>
           </td>
           <td class="pad">
            &nbsp;
           </td>
           <td abbr="September" colspan="3" id="next" class="pad">
            <a href="#">
             Sep &raquo;
            </a>
           </td>
          </tr>
         </tfoot>
         <tbody>
          <tr>
           <td colspan="2" class="pad">
            &nbsp;
           </td>
           <td>
            1
           </td>
           <td>
            2
           </td>
           <td>
            3
           </td>
           <td>
            4
           </td>
           <td>
            5
           </td>
          </tr>
          <tr>
           <td>
            6
           </td>
           <td>
            7
           </td>
           <td>
            8
           </td>
           <td>
            9
           </td>
           <td>
            10
           </td>
           <td>
            11
           </td>
           <td>
            12
           </td>
          </tr>
          <tr>
           <td>
            13
           </td>
           <td>
            14
           </td>
           <td>
            15
           </td>
           <td>
            16
           </td>
           <td>
            17
           </td>
           <td>
            18
           </td>
           <td>
            19
           </td>
          </tr>
          <tr>
           <td>
            20
           </td>
           <td>
            21
           </td>
           <td>
            22
           </td>
           <td>
            23
           </td>
           <td>
            24
           </td>
           <td>
            25
           </td>
           <td>
            26
           </td>
          </tr>
          <tr>
           <td>
            27
           </td>
           <td id="today">
            28
           </td>
           <td>
            29
           </td>
           <td>
            30
           </td>
           <td>
            31
           </td>
           <td class="pad" colspan="2">
            &nbsp;
           </td>
          </tr>
         </tbody>
        </table>
       </div>
      </li>
      <!--<li>
       <h2>
        Lorem Ipsum Dolor
       </h2>
       <ul>
        <li>
         <a href="#">
          Nulla luctus eleifend purus
         </a>
        </li>
        <li>
         <a href="#">
          Praesent scelerisque scelerisque erat
         </a>
        </li>
        <li>
         <a href="#">
          Ut nonummy rutrum sem
         </a>
        </li>
        <li>
         <a href="#">
          Pellentesque tempus quam quis nulla
         </a>
        </li>
        <li>
         <a href="#">
          Fusce ultrices fringilla metus
         </a>
        </li>
        <li>
         <a href="#">
          Praesent mattis condimentum nisl
         </a>
        </li>
       </ul>
      </li>-->
     </ul>
    </div>
    <!-- end sidebar -->
    <br style="clear: both;" />
   </div>
  </div>
  <!-- end page -->
  <!-- start footer -->
  <div id="wrapper2">
   <div id="footer">
    <ul>
     <li class="first">
      <h2>
       About us
      </h2>
      <ul>
       <li>
        <a href="#">
         GHMC Garbage management administration
        </a>
       </li>
      <!-- <li>
        <a href="#">
         Praesent scelerisque scelerisque erat
        </a>
       </li>
       <li>
        <a href="#">
         Ut nonummy rutrum sem
        </a>
       </li>
       <li>
        <a href="#">
         Pellentesque tempus quam quis nulla
        </a>
       </li>
       <li>
        <a href="#">
         Fusce ultrices fringilla metus
        </a>
       </li>
       <li>
        <a href="#">
         Praesent mattis condimentum nisl
        </a>
       </li>-->
      </ul>
     </li>
     <li>
      <h2>
       Contact us
      </h2>
      <ul>
       <li>
        <a href="http://www.ghmc.gov.in/">
         www.ghmc.gov.in/
        </a>
       </li>
       <!--<li>
        <a href="#">
         Praesent scelerisque scelerisque erat
        </a>
       </li>
       <li>
        <a href="#">
         Ut nonummy rutrum sem
        </a>
       </li>
       <li>
        <a href="#">
         Pellentesque tempus quam quis nulla
        </a>
       </li>
       <li>
        <a href="#">
         Fusce ultrices fringilla metus
        </a>
       </li>
       <li>
        <a href="#">
         Praesent mattis condimentum nisl
        </a>
       </li>-->
      </ul>
     </li>
     <!--<li>
      <h2>
       Fusce ultrices fringilla
      </h2>
      <ul>
       <li>
        <a href="#">
         Nulla luctus eleifend purus
        </a>
       </li>
       <li>
        <a href="#">
         Praesent scelerisque scelerisque erat
        </a>
       </li>
       <li>
        <a href="#">
         Ut nonummy rutrum sem
        </a>
       </li>
       <li>
        <a href="#">
         Pellentesque tempus quam quis nulla
        </a>
       </li>
       <li>
        <a href="#">
         Fusce ultrices fringilla metus
        </a>
       </li>
       <li>
        <a href="#">
         Praesent mattis condimentum nisl
        </a>
       </li>
      </ul>
     </li>-->
    </ul>
   </div>
   <p id="legal">
    &copy;All Rights Reserved.
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by
    <a href="#">
     Darshan, Darpan, Nazrul
    </a>
   <!-- &nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Icons by
    <a href="http://famfamfam.com/">
     FAMFAMFAM
    </a>
    .
    <a href="http://validator.w3.org/check/referer" class="xhtml" title="This page validates as XHTML">
     Valid
     <abbr title="eXtensible HyperText Markup Language">
      XHTML
     </abbr>
    </a>
    &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    <a href="http://jigsaw.w3.org/css-validator/check/referer" class="css" title="This page validates as CSS">
     Valid
     <abbr title="Cascading Style Sheets">
      CSS
     </abbr>
    </a>-->
   </p>
  </div>
  <!-- end footer -->
 </body>
</html>
