{{extend 'layout.html'}}
<div style="background-color:rgba(0,0,0,1.0);padding:15px;margin:10px;float:left;height:auto;border-radius:15px;width:60%;font-size:20px;padding-bottom:0px;" >
<a style="color:#FFFFFF" href='{{=URL('report_absence')}}'>Report Absence </a><br><br>
</div>

<div style="background-color:rgba(0,0,0,1.0);padding:15px;margin:10px;float:left;height:auto;border-radius:15px;width:60%;font-size:20px;padding-bottom:0px;" >
<a style="color:#FFFFFF" href='{{=URL('rate_presence')}}'>Rate Presence</a><br><br>
</div>



